@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    letter-spacing: 0.3px;
    box-sizing: border-box;
}

.container-bg{
    background-color: #74aa22;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: white;
    height: 120px;
    transition: all 0.3s;
    border-bottom: 1px solid white;

}

header.sticky {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    height: 70px;
    transition: all 0.3s;
    border-bottom: 3px solid #c8f088;
}

.container-head {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 20px;
    list-style: none;
}

nav ul li a {
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #080808;
    position: relative;
    padding: 0 10px;
}

nav ul li a::after {
    bottom: 1px;
    position: absolute;
    content: '';
    bottom: -5px;

    height: 3px;
    width: 0;
    left: 0;
    transition: all 0.3s;

}

nav ul li a:hover::after {
    width: 100%;
    background-color: #7fcc03;
}



.banner {
    margin: 150px 0;
    justify-content: space-between;
    display: flex;
    width: 1200px;
    align-items: center;

}



.description {

    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.description-right {
    text-align: end;
    align-items: flex-end;
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description p {
    font-weight: 600;
}

  


.description a,
.description-right a, .row-flex a {
    --bg: #7BAB2F;
    --hover-bg: white;
    --hover-text: #7BAB2F;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 50px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

}

.description a:hover,
.description-right a:hover ,.row-flex a:hover{
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}


.banner img {

    max-width: 50%;
    height: auto;
    animation: spin 190s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container-s1 {
    display: flex;
    justify-content: center;
    align-items: center;


}

.container-box {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.container-box .box {
    color: rgb(0, 0, 0);
    background-color: #fcfcfc;
    margin: 20px;
    border: 1px solid #c8f088;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 300px;
    padding: 30px;
    align-items: center;
    transition: all 0.3s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

}

.container-box .box:hover {
    color: white;
    background-color: #81b134;
    transform: translate(0, -0.55rem);
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.row #img {
    width: 500px;
}

.row-flex {
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    display: flex;
    align-items: center;
    height: auto;
    margin: 50px 0;

}
.row {

    justify-content: space-between;
    width: 1200px;
    display: flex;
    align-items: center;
    height: auto;
    margin: 150px 0;

}

.step {
    justify-content: space-between;
    width: 550px;

    display: flex;
}

.step .box {
    border: 1px solid #c8f088;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    margin: 20px;
    background-color: #f7f7f7;
    transition: all 0.3s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.box img {
    transition: all 0.3s;
}

.step .box:hover img {
    transform: scale(1.1)
}

.step .box:hover {
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.2);
    transform: translate(0, -0.55rem);
    background-color: #74aa22;
}

.left {
    height: 620px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.right {
    margin-top: 180px;
    height: 630px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.mid {
    background: url(/gambar/border.png);
    background-size: cover;
    width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    margin-top: 100px;

}

.ball {
    display: flex;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    background-color: #7BAB2F;
}

.core-ball {
    border-radius: 100%;
    padding: 5px;
    background-color: white;
}



.asik:hover .mid .ball {
    background-color: aqua;
}

.blog{
    font-weight: 600;
    color: white;
    padding: 50px 0;
    width: 1200px;
    
}
.blog p{
    
    width: 900px;
}
.blog .head{
    display: flex;
    justify-content: center;
    align-items:center ;flex-direction: column;
    text-align: center;
    
    height: 150px;
    justify-content: space-between;
}

.related-blog {
    justify-content: space-evenly;
    display: flex;
    padding: 40px 0;
    align-items: center;
}

.related-blog img {
    width: 500px;
}

.related-blog .description{

    width: 400px;
    height: 250px;
}

.blogs{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    
    
}
.blogs .card img{
    width: 340px;
    height: 200px;
    padding: 10px 0;
}

.blogs .card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(218, 218, 218, 0.596);
    margin: 10px;
    width: 340px;
    height: 300px;
    padding: 15px;
    font-weight: 700;
    transition: all 0.3s;
}

.blogs .card:hover{
    transform: scale(1.01);
    border: 2px solid #c8f088;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

/* .row-flex a{
    background-color: #74aa22;
    margin: 70px;
    color: white;
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 20px;border-radius: 50px;
} */

#deskripsi{
    background-color: white;
    color: #74aa22;
    border: 1px solid
}

#deskripsi:hover{
    color: white;
    background-color: #74aa22;
    border: 1px solid white;
}